@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

body{
    font-family: EB Garamond;
    font-weight: 400;
    
}
/*  */
.header-section {

    height: 80px;
    background-color: rgba(39, 47, 207, 0.597);
    text-align: center;
    padding-top: 10px;
    color: white;
    border-radius: 3px;
    font-family: EB Garamond;
    font-size: 40px;
    
    
}

.myname {
    font-family: EB Garamond;
    font-weight: bolder;
}


.bottom-section {
    /* background-color: lightgreen; */
    
    height: 20px;
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50px; */
    flex-shrink: 0;

}

.sameclass{
    font-size: 14px;
    margin-left: 9px;
    padding-right: 10px;
    margin-top: 20px;
}

/*  */
.summary{
    font-size: 17px;
    display: flex;
    flex-direction: row;
    
}

.summary-statement{
   margin-right: 40px;
   margin-left: 38px ;
   color:rgba(39, 47, 207, 0.597);
   font-weight:bolder;
   /* background-color: aqua; */
   padding-top: 1px;
   font-size: 17px;

}

.description-statement{
    margin-right: 80px ;
    margin-left: 45px ;
    /* color:rgba(2, 32, 42, 0.597); */
   /* font-weight:bold; */
   font-size: 18px;
}

/*  */
.straight-line{
    background-color: rgba(201, 212, 215, 0.597);
    margin-top:2px;
}
/*  */

.orderlist-items{
    
    display: flex;
    flex-direction: row;
    /* margin-top: 15px; */
    
}

.skills{
    margin-right: 40px;
    margin-left: 38px;
    color:rgba(39, 47, 207, 0.597);
   font-weight:bolder;
   /* background-color: aqua; */
   padding-top: 1px;
   font-size: 17px;
   margin-top: -5px;
   

}

.skills-list{
    
    display: flex;
    flex-direction: row;
    font-size:18px;
    margin-left: 70px;
    margin-top: 6px;
    /* font-family: Roboto,Arial; */
    /* font-weight: bold; */
}


.heading-item{
    
    font-weight: bold;
    font-size: 17px;
    margin-top: -10px;
    margin-left: -8px;
    margin-bottom: 5px;
    /* line-height: 10px; */
}

/*  */

.experience-summary{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: -5px;
    
}

.experince-heading{
   
    
   margin-left: 38px ;
   color:rgba(39, 47, 207, 0.597);
   font-weight:bolder;
   /* background-color: aqua; */
   padding-top: 1px;
   font-size:17px;
}

.experience-overall{
    
    font-size: 17px;
    display: flex;
    flex-direction: row;
    margin-bottom: -12px;
    margin-left: 63px;
}

.experience1{
    font-size: 17px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    
    margin-left: 63px;
    margin-bottom: -15px;
}


.experience1-info{
    font-size: 17px;
    display: flex;
    flex-direction: row;
    margin-bottom: -15px;
    margin-left: 63px;
}

.experience1-more-info{
    font-size: 17px;
    display: flex;
    flex-direction: row;
    margin-bottom: -15px;
    margin-left: 63px;
    margin-right: 100px;
}

/*  */

.training{
    direction: flex;
    flex-direction: row;
    font-size: 17px;
    margin-top: -7px;
}

.external-Training{
    margin-right: 40px;
    margin-left: 38px ;
    /* margin-top:-8px; */
    color:rgba(39, 47, 207, 0.597);
    font-weight:bolder;
    /* background-color: aqua; */
    padding-top: 1px;
    width: 20px;
    font-size:17px;

}

.frontend-training-info{
    /* display: flex;
    flex-direction: row; */
    margin-left: 32px;
    font-size: 17px;
    /* margin-top: 8px; */
    
}

.frontEnd{
    font-size: 17px;
    /* display: flex;
    flex-direction: row; */
    margin-top: -60px;
    font-weight: bold;
    /* width: 150px; */
    margin-left: 195px;
    margin-bottom: 10px;
    
}

.frontEnd-info{
  
    /* display: flex;
    flex-direction: row; */
    margin-top: 10px;
    font-size:18px;
    margin-left: 170px;
    line-height:25px;
    margin-right: 80px;
}


/*  */
.education{
display: flex;
flex-direction: row;
font-size: 17px;
}

.type-education{
    margin-right: 40px;
    margin-left: 38px ;
    color:rgba(39, 47, 207, 0.597);
    font-weight:bolder;
    padding-top: 1px;
    margin-top: -5px
}

.education-list{
    margin-top: -5px;
    margin-left:22px;
}

.UG,.PG{
    /* margin-left:22px; */
    margin-bottom:-7px;

}
.college-info{
    margin-left:22px;
}
/*  */

